<div class="card">
    <div class="card-header">
        <h4 class="card-title" style="display:inline-block;"><span style="font-size:20px;">Welcome to WebObserver!</span></h4>
        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
                <li><i class="fas fa-thumbtack" style="padding-right: 10px; color:darkred;"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-content">
        <div class="card-body">
            <p>
                <b>Pending (as of 20/4/2018):</b>
                <div style="padding-left: 20px; line-height:25px;">
                    <div class="badge badge-dark">PENDING</div> &nbsp;&nbsp;Handle synchronous QR login request.<br />
                </div>
            </p>
            <p>
                <b>Revision 9 (20/4/2018):</b>
                <div style="padding-left: 20px; line-height:25px;">
                    <div class="badge badge-success">NEW</div> &nbsp;&nbsp;Implemented SHA-1 as catch signature for all subsequent catches.<br />
                </div>
            </p>
            <p>
                <b>Revision 8 (14/1/2018):</b>
                <div style="padding-left: 20px; line-height:25px;">
                    <div class="badge badge-success">NEW</div> &nbsp;&nbsp;Additional mechanism to handle invalid URL/Link.<br />
                </div>
            </p>
            <p>
                <b>Revision 7 (13/1/2018):</b>
                <div style="padding-left: 20px; line-height:25px;">
                    <div class="badge badge-success">NEW</div> &nbsp;&nbsp;New login mechanism implemented (Email/QR Login).<br />
                    <div class="badge badge-warning">FIX</div> &nbsp;&nbsp;Observe Batch run test encryption algorithm has been fixed.<br />
                </div>
            </p>
            <p>
                <b>Revision 6 (9/1/2018):</b>
                <div style="padding-left: 20px; line-height:25px;">
                    <div class="badge badge-success">NEW</div> &nbsp;&nbsp;Password encryption has been implemented for all 2nd POST content.<br />
                </div>
            </p>
            <p>
                <b>Revision 5 (8/1/2018):</b>
                <div style="padding-left: 20px; line-height:25px;">
                    <div class="badge badge-warning">FIX</div> &nbsp;&nbsp;2nd Content Method for Batch Test Run has been fixed.<br />
                </div>
            </p>
            <p>
                <b>Revision 4 (7/1/2018):</b>
                <div style="padding-left: 20px; line-height:25px;">
                    <div class="badge badge-success">NEW</div> &nbsp;&nbsp;Catch notification system added with HTML preview screenshot capability.<br />
                    <div class="badge badge-warning">FIX</div> &nbsp;&nbsp;Broken predefined cookie header has been fixed.<br />
                    <div class="badge badge-warning">FIX</div> &nbsp;&nbsp;Wrong single step execution's PC Method has been fixed.<br />
                    <div class="badge badge-warning">FIX</div> &nbsp;&nbsp;Observe Listing now sorts according to creation date descending.<br />
                </div>
            </p>
            <p>
                <b>Revision 3 (4/1/2018):</b>
                <div style="padding-left: 20px; line-height:25px;">
                    <div class="badge badge-success">NEW</div> &nbsp;&nbsp;Catch system is now functional.<br />
                </div>
            </p>
            <p>
                <b>Revision 2 (4/1/2018):</b>
                <div style="padding-left: 20px; line-height:25px;">
                    <div class="badge badge-success">NEW</div> &nbsp;&nbsp;POST content now supports 2 parameters.<br />
                    <div class="badge badge-warning">FIX</div> &nbsp;&nbsp;Table listing layout after subsequent refresh.<br />
                    <div class="badge badge-warning">FIX</div> &nbsp;&nbsp;Retrieval of POST content data of a step. <br />
                </div>
            </p>
            <p>
                <b>Revision 1 (1/1/2018):</b>
                <div style="padding-left: 20px; line-height:25px;">
                    <div class="badge badge-success">NEW</div> &nbsp;&nbsp;HTML POST and GET through web server is completed.<br />
                    <div class="badge badge-success">NEW</div> &nbsp;&nbsp;Interval Run script has been implemented. <br />
                    <div class="badge badge-success">NEW</div> &nbsp;&nbsp;Interval Run core function has been completed. <br />
                    <div class="badge badge-success">NEW</div> &nbsp;&nbsp;Listing of Observes and related option menu has been completed.<br />
                    <div class="badge badge-success">NEW</div> &nbsp;&nbsp;Listing of Steps and related option menu has been completed.<br />
                    <div class="badge badge-success">NEW</div> &nbsp;&nbsp;Reordering of Steps through dragging is operational.<br />
                    <div class="badge badge-success">NEW</div> &nbsp;&nbsp;Custom POST content has been implemented.<br />
                    <div class="badge badge-success">NEW</div> &nbsp;&nbsp;Predefined header (Cookie header) has been implemented and fully working.<br />
                </div>
            </p>
        </div>
    </div>
</div>